.cntnt-itms-panl::-webkit-scrollbar {
    width: 7px;
}

.cntnt-itms-panl::-webkit-scrollbar-thumb {
    background-color: rgba(47, 97, 204, 0.322);
    border-radius: 5px;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lodn-proof {
    display: flex;
    /* background-color: #2d81ff; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loading-spinner {
    background-color: #2d81ff49;
    border: 4px solid rgba(99, 94, 255, 0.241);
    border-left-color: #3278c7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading 1s linear infinite;
}

/* ======================================= */
.cntnt-itms-panl {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    align-items: center;
}

.order-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #00000011;
    cursor: pointer;
    margin-left: -5px;
}

.ordid-wdth {
    background-color: #cdd2d88a;
    display: flex;
    width: 18rem;
    color: #0847f1;
    align-items: center;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    padding: 10px 0;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ordrdtls-hight {
    /* background-color: #0057b363; */
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-left: -10px;
}

.order-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: #000; */
    min-width: 10rem;
}

.order-info h3 {
    color: #333;
    font-size: 18px;
}

.order-info p {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.order-info a {
    color: #ff0000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.order-info a:hover {
    text-decoration: underline;
}