.expenses-chart-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expenses-chart-container p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}