.schedule-side-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.event-btnset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-btnset h1 {
    font-family: "Lexend", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #2d81ff;
    margin: 0;
}

#sch-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d81ff;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 13px 18px;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
}

#sch-add-btn:hover {
    background: #1a58b5;
    transition: background-color 0.2s;
}

.fa-plus {
    margin-right: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

.small-calendar-cont {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
    border-radius: 10px;
    background: #88b7ff;
}

.top-set-smcal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
}

.top-set-smcal p {
    margin-top: 13px;
    font-weight: bold;
    color: white;
}

.smallcalendar-navset {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.smallmonthnav {
    cursor: pointer;
    color: white;
    transition: color 0.2s;
}

.smallmonthnav:hover {
    color: black;
    transition: color 0.2s;
}

/* ------------------------------------- */

.small-cal {
    background: rgb(251, 251, 251);
    border-radius: 10px;
    padding: 7px 0;
    padding-top: 0;
    margin: 0 3px;
}

.grid-lay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: rgba(0, 0, 0, 0.072);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 5px;
    margin-bottom: 3px;
}

.grid-lay span {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 2px 0;
}

.datesgrd {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 28px;
}

.datesgrd button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.currDay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d81ff;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.slcDay{
    font-weight: bold;
    font-size: 1rem;
    color: #2d81ff;
}