.employee-container {
    height: 98vh;
    overflow-y: auto;
    border-radius: 12px;
}

.row1-employee-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 9px;
    align-items: center;
}

.row1-employee-header h1 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.row1-employee-header button {
    background: rgba(0, 0, 0, 0.804);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    margin-right: 15px;
}

.row1-employee-header button:hover {
    background-color: #014BBB;
}

.row3-employee-card-set{
    display: grid;
    background: pink;
    width: 100%;
    padding-block-end: 20px;
    /* height: 10vh; */
}

.emp-card{
    background: coral;
    width: 35vh;
    height: 45vh;
    border-radius: 15px;
    margin: 30px;
}