.employee-container::-webkit-scrollbar {
    width: 7px;
}

.employee-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.employee-container {
    height: 98vh;
    overflow-y: auto;
    border-radius: 12px;
}

.row1-employee-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 9px;
    align-items: center;
}

.row1-employee-header h1 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.row1-employee-header button {
    background: rgba(0, 0, 0, 0.804);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    margin-right: 15px;
    transition: background-color 0.2s;
}

.row1-employee-header button:hover {
    background-color: #014BBB;
    transition: background-color 0.2s;
}

.emp-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 20px;
    gap: 25px;
}

.empCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #b5b5b5;
    width: 40vh;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: scale 0.2s;
}

.empCard:hover {
    scale: 1.05;
    transition: scale 0.2s;
}

.empCard.online {
    background-color: #2d81ff;
}

.info-set {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 30px;
}

.empCard img {
    width: 50%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 20px;
    border-radius: 50%;
}

.info-set h3 {
    color: black;
    font-size: 1rem;
    line-height: 0;
}

.emp-tag {
    color: white;
}