.btm-mysub-panel::-webkit-scrollbar {
    width: 7px;
}

.btm-mysub-panel::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.mysub-container {
    height: 100%;
}

.row1-mysub-header {
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    align-items: center;
}

.row1-mysub-header h1 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 10px;
}

.row2-divider-mysub {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    gap: 5px;
    background-color: rgb(224, 224, 224);
}

.row2-divider-mysub h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 22px;
    cursor: pointer;
    color: transparent;
}

.mysub-btmset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}

.inp-fm-sec {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inp-fm-sec label {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.inp-fm-sec input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

.inp-fm-sec input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

.inp-fm-sec input[type="file"] {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* ----------------------- */

.customerpic-container {
    display: flex;
    flex-direction: column;
    background: #cf3232;
    border-radius: 7px;
    /* margin: 15px; */
    margin-top: 15px;
    padding-top: 5px;
}

#custpic-cnt1 {
    background-color: rgb(17, 104, 204);
}

#lbl-img {
    color: white;
    font-family: "Lexend", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 13px 20px;
    padding-bottom: 0;
}

.pp-input {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    background: rgba(42, 42, 42, 0.266);
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.pp-input:hover {
    background-color: #e0e0e01f;
}

.pp-input.has-file::before {
    content: attr(data-file-name);
}

.pp-input.has-file::after {
    content: ' + ' attr(data-file-count) ' more';
}

.pp-preview {
    padding: 0 22px;
    padding-bottom: 22px;
}

.pp-thumbnail {
    width: 250px;
    margin-right: 20px;
    position: relative;
}

.pp-thumbnail img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.pp-thumbnail p {
    font-size: 14px;
    color: white;
    margin: 0;
    word-wrap: break-word;
}

.pp-close {
    position: absolute;
    text-align: right;
    top: 8px;
    right: 8px;
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    cursor: pointer;
    transition: color 0.2s;
}

.pp-close:hover {
    color: black;
    transition: color 0.2s;
}

.submtbtn-mysb {
    /* background-color: #cf3232; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.submtbtn-mysb button {
    height: 2.3rem;
    width: 97%;
    border-radius: 5px;
    border: none;
    background-color: #8a8a8a;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 10px;
}

.submtbtn-mysb button:hover {
    background-color: #295ff1;
}


.btm-mysub-panel {
    /* Set a fixed height, adjust as needed */
    height: 81%;
    overflow-y: auto;
    padding: 10px;
    /* background-color: rgb(109, 109, 109); */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* margin: 20px; */
}