.chatapp-container::-webkit-scrollbar {
    width: 7px;
}

.chatapp-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.chat-threads::-webkit-scrollbar {
    width: 7px;
}

.chat-threads::-webkit-scrollbar-thumb {
    background-color: #014BBB;
    border-radius: 5px;
}

.chatapp-container {
    height: 98vh;
    overflow-y: auto;
    border-radius: 12px;
}

.row1-chatapp-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 9px;
    align-items: center;
}

.row1-chatapp-header h1 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.noti-prof {
    /* background-color: #014BBB; */
    /* width: 5%; */
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 15px;
    align-items: center;
}

.noti-prof h2 {
    font-size: 1.2rem;
    color: #014BBB;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-top: -5px;
}

.header-img {
    width: 2.5rem;
    border-radius: 50%;
    /* margin-right: 5px; */
    border: 2px solid #014BBB;
    cursor: pointer;
}

.fa-bell {
    font-size: 1.3rem;
}

.chatting-container {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 5px 10px;
    gap: 10px;
}