.admin {
    display: flex;
    height: 100vh;
    background: linear-gradient(-70deg, #5402BD, #014BBB);
    align-items: center;
}

.nav-pane {
    z-index: 2;
    display: flex;
    align-items: center;
}

.dash-pane {
    display: flex;
    height: 98vh;
    width: 100%;
    margin-right: 10px;
    margin-left: 2px;
    background: white;
    border-radius: 12px;
    position: relative;
    transition: width 0.3s ease;
    /* align-items: center;
    justify-content: center; */
}