.singlechat-container {
    display: flex;
    background-color: #2d81ff;
    border-radius: 20px;
    width: 80%;
    padding: 8px;
}

.empty-chts {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.empty-chts h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    color: #1666de;
}

/* ============================ */

.messenger-container {
    display: flex;
    /* background-color: #354b6c; */
    border-radius: 20px;
    width: 100%;
    /* padding: 8px; */
}

.default-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 14px;
}

.default-cont h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.027);
    color: #2d81ff;
    border-radius: 20px;
    padding: 20px 30px;
}


.msg-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: rgb(107, 100, 91); */
}

.msg-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    /* width: 100%; */
    margin-bottom: 17px;
    /* background-color: aqua; */
}

#headr-h2 {
    color: white;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -8px;
    width: 100%;
}

.msg-head .fa-circle-info {
    font-size: 1.3rem;
    color: white;
    margin-right: 8px;
    /* margin-top: -5px; */
    cursor: pointer;
}

.msg-head .fa-circle-info:hover {
    scale: 1.1;
}

.msg-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(235, 235, 235);
    height: 100%;
    border-radius: 15px;
    /* padding: 8px; */
    overflow-y: auto;
}


.msgs-container {
    display: flex;
    flex-direction: column;
    /* background-color: #1666de31; */
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0 15px;
}

/* .msgs-container::-webkit-scrollbar {
    width: 7px;
}

.msgs-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
} */

.text-sender {
    display: flex;
    align-items: center;
    /* width: 100%; */
    margin: 10px;
}

#message-txt {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding-left: 12px;
    outline: none;
    font-size: 1.05rem;
    margin-top: 5px;
}

.text-sender .fa-circle-arrow-right {
    position: absolute;
    right: 50px;
    font-size: 1.5rem;
    margin-top: 5px;
    color: #2d81ff;
    transition: scale 0.2s,
        color 0.2s;
    cursor: pointer;
}

.text-sender .fa-circle-arrow-right:hover {
    scale: 1.1;
    color: black;
    transition: scale 0.2s, color 0.2s;
}

.convo-header {
    display: flex;
    /* background-color: aliceblue; */
    width: 100%;
    justify-content: space-between;
    /* gap: 20px; */
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lodn-cont-sngchat {
    display: flex;
    height: 100%;
    /* background-color: #2d81ff82; */
    align-items: center;
    justify-content: center;
}

.loading-spinner-singchat {
    background-color: #2d81ff49;
    border: 4px solid rgba(99, 94, 255, 0.241);
    border-left-color: #3278c7;
    /* Change this to your desired color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading 1s linear infinite;
}