.tasks-container {
    height: 98vh;
    overflow-y: auto;
    border-radius: 12px;
}

.row1-task-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 9px;
    align-items: center;
}

.row1-task-header h1 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.row1-task-header button {
    background: rgba(0, 0, 0, 0.804);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    margin-right: 15px;
    transition: background-color 0.2s;
}

.row1-task-header button:hover {
    background-color: #014BBB;
    transition: background-color 0.2s;
}

.bread-crum {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 5px;
    background-color: rgb(224, 224, 224);
}

.bread-crum h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 22px;
    cursor: pointer;
}

.bread-crum h2:hover {
    color: rgb(255, 38, 0);
}

#asgnd-tsks {
    color: rgb(105, 148, 49);
    margin-left: 50px;
}

#asgnd-tsks:hover {
    color: rgb(255, 38, 0);
}

.row3-task-table {
    padding: 15px;
    padding-top: 10px;
}

#table-setting {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#table-setting th {
    border: 2px solid black;
    text-align: left;
    padding: 9px;
    font-family: "Lexend", sans-serif;
}

#table-setting td {
    border: 2px solid black;
    text-align: left;
    padding: 6px;
    padding-left: 9px;
}

#table-heading {
    background: #2d81ff;
    color: white;
}

#table-heading-asns {
    background: #232323;
    color: white;
}

#table-elements tr:hover {
    background-color: #e4e4e4;
}

.action-btn {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

#edit-btn {
    color: #0151fe;
    cursor: pointer;
}

#delete-btn {
    color: red;
    cursor: pointer;
}

.status-ico {
    display: flex;
    justify-content: center;
    margin-left: -2px;
}

.fa-circle-check {
    font-size: 1.5rem;
    color: rgb(0, 208, 0);
    position: relative;
}

.fa-circle-check:hover::after {
    content: "Completed";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    white-space: nowrap;
}

.fa-bars-progress {
    font-size: 1.5rem;
    color: rgb(112, 112, 112);
    position: relative;
}

.fa-bars-progress:hover:after {
    content: "Ongoing";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    white-space: nowrap;
}

.fa-clock-rotate-left {
    font-size: 1.5rem;
    color: rgb(255, 29, 29);
    position: relative;
}

.fa-clock-rotate-left:hover:after {
    content: "Overdue";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    white-space: nowrap;
}

.fa-circle-exclamation {
    font-size: 1.5rem;
    color: rgb(255, 116, 29);
    position: relative;
}

.fa-circle-exclamation:hover:after {
    content: "Alert";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    white-space: nowrap;
}

#id-col {
    padding-left: 7px !important;
    text-align: center !important;
}


.tasks-container::-webkit-scrollbar {
    width: 7px;
}

.tasks-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.activeBreadcrumb {
    color: #014BBB;
}

.activeBreadcrumb-id {
    color: #ff0000 !important;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    position: relative;
}

.modal-content2 {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 550px;
    max-width: 90%;
    text-align: center;
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #0056b3;
}

.modal-content label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.modal-details {
    /* background-color: #0056b3; */
    text-align: left;
}

.stts {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

#stts-lbl {
    margin: 0;
    margin-right: 10px;
}

.modal-content select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    background-color: #00000025;
    border-radius: 10px;
}

#mdl-hdr {
    background-color: #0000001e;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: -10px;
    margin-bottom: 5px;
}

.modal-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.modal-actions button:hover {
    background-color: #006ee4;
}

.modal-actions button:last-child {
    background-color: #ff0019;
}

.modal-actions button:last-child:hover {
    background-color: #c82333;
}

.files-modl {
    background-color: #ff000044;
    width: 100%;
    word-wrap: break-word;
    border-radius: 10px;
    margin-top: -10px;
    padding: 5px 0;
}

.files-modl p {
    margin: 10px;
    font-size: 0.9rem;
}

.inpt-modl {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}

.txtar-modl {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}

.txtar-modl2 {
    width: 64%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}

.txtar-modl3 {
    width: 75.5%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}

.inps-mdl {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
}

.caln-modl {
    width: 81.5%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}

.rsp-slct {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}