.orders-rprts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    background-color: rgba(0, 0, 0, 0.055);
    width: 95%;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 20px;
    padding-bottom: 30px;
}

.month-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -10px;
    width: 100%;
    /* background-color: aquamarine; */
}

.month-navigator button {
    /* padding: 10px; */
    width: 5rem;
    height: 2.5rem;
    border-radius: 30px;
    margin: 0 20px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    background-color: rgb(54, 54, 211);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.month-navigator button:disabled {
    cursor: default;
    opacity: 0.5;
}

.income-info {
    margin-top: 20px;
    /* text-align: left; */
    /* background-color: cadetblue; */
    padding-top: 20px;
    flex: 1;
    /* padding-right: 20px; */
}

.ords-ps-txt {
    background-color: rgb(212, 212, 212);
    margin-right: -100px;
    margin-left: 80px;
    /* padding: 10px 0; */
    padding: 30px;
    padding-left: 10px;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.income-info p {
    margin: 10px 0;
    margin-left: 5rem;
}

.chart-container {
    /* background-color: crimson; */
    height: 20rem;
    flex: 1;
    display: flex;
    justify-content: center;
}

.chart-container canvas {
    width: 100%;
    max-width: 400px;
}

#anch-ords-csv {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin-left: 80px;
}