.day-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(39, 39, 39, 0.204);
    border-radius: 10px;
    cursor: pointer;
}

.day-cell:hover{
    background-color: rgba(218, 232, 255, 0.559);
}

#datenum {
    position: relative;
    bottom: -10px;
    right: 8px;
    display: flex;
    justify-content: right;
    margin-top: auto; 
}

.current-day {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0060f0;
    margin-bottom: 14px;
}