.side-bar {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 98vh;
    background: rgba(0, 0, 0, 0.804);
    color: white;
    margin-left: 8px;
    margin-right: 10px;
    border-radius: 15px;
    position: relative;
    transition: width 0.3s ease;
}

.header-elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

#hr-top {
    width: 99%;
    margin-top: 0;
    margin-bottom: 10px;
}

#hr-bottom {
    width: 99%;
    margin-bottom: 15px;
}

#head-lbl {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

#ms-logo {
    width: 4.5rem;
    margin-left: 15px;
    transition: width 0.2s;
}

.nav-elements {
    display: flex;
    flex-direction: column;
}

.foot-elements {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-lbl {
    display: flex;
    height: 40px;
    margin: 2px 5px;
    font-size: 0.9rem;
    padding-left: 12px;
    align-items: center;
    border-radius: 5px;
    font-family: "Lexend", sans-serif;
    cursor: pointer;
    transition: font-size 0.3s, background-color 0.1s;
}

.foot-lbl {
    display: flex;
    height: 40px;
    margin: 2px 5px;
    font-size: 0.9rem;
    padding-left: 12px;
    align-items: center;
    border-radius: 5px;
    font-family: "Lexend", sans-serif;
    cursor: pointer;
    transition: font-size 0.2s !important;
    transition: background-color 0.2s;
}

.nav-lbl:hover {
    background: #c7ff5e;
    color: black;
}

.foot-lbl:hover {
    color: #2d81ff;
}

.nav-lbl i.fa-solid {
    margin-right: 8px;
    font-size: 0.9rem;
}

.foot-lbl i.fa-solid {
    margin-right: 8px;
    font-size: 0.9rem;
}

.side-section {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

#tog-close {
    color: black;
    font-size: 1.3rem;
    margin-left: -5px;
    margin-right: 6px;
    cursor: pointer;
    transition: color 0.2s;
}

#tog-close:hover {
    color: white;
    font-size: 1.3rem;
}

.foot-elements {
    margin-top: auto;
    width: 100%;
}

.foot-head {
    font-size: 0.9rem;
    margin: 10px 10px;
    cursor: pointer;
}

#logout-btn {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    background: #c7ff5e;
    transition: background-color 0.3s, font-size 0.3s, height 0.5s;
}

#logout-btn:hover {
    background: rgb(255, 0, 43);
    transition: background-color 0.3s !important;
}

/* ---- Collapsed set -------------------------------*/

.collapsed .side-bar {
    width: 4rem;
}

.collapsed .header-elements {
    justify-content: center;
}

.collapsed #head-lbl {
    display: none;
}

.collapsed #ms-logo {
    width: 3rem;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: width 0.2s;
}

.collapsed .nav-elements-min {
    align-items: center;
    margin-left: 8px;
    margin-top: 10px;
    gap: 20px;
}

.collapsed .nav-elements-min .nav-lbl {
    width: 1.85rem;
    margin-top: 10px;
}

.collapsed .foot-elements-min .foot-lbl {
    width: 1.85rem;
    margin-top: 0px;
    margin-left: 13px;
}

.collapsed #hr-top {
    margin-bottom: -5px;
}

.collapsed #hr-bottom {
    margin-bottom: 18px;
}

.collapsed .nav-lbl {
    font-size: 0rem;
    transition: font-size 0.2s;
}

.collapsed .foot-lbl {
    font-size: 0rem;
    transition: font-size 0.2s;
}

.collapsed .foot-elements-min {
    margin-top: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.collapsed #logout-btn {
    height: 60px;
    transition: height 0.3s, background-color 0.3s !important;
}

.collapsed #logout-btn {
    font-size: 0;
    transition: font-size 0.2s;
}

.collapsed #logout-btn i {
    font-size: 16px;
    transition: font-size 0.2s;
}

.nav-lbl.active {
    background: #2d81ff;
    color: white;
}

.foot-lbl.active {
    background: #2d81ff;
    color: white;
}

.fa-calendar-days {
    margin-left: 2px;
}

.notif {
    color: red;
}