.side-bar {
    display: flex;
    flex-direction: column;
    width: 19rem;
    height: 98vh;
    background: rgba(0, 0, 0, 0.804);
    color: white;
    /* margin-left: 8px; */
    margin-right: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#head-lbl {
    font-size: 1.1rem;
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
}

.nav-elements {
    display: flex;
    flex-direction: column;
}

hr {
    margin-bottom: 20px;
}

.nav-lbl {
    /* background: pink; */
    height: 45px;
    margin: 2px 10px;
    font-size: 0.97rem;
    padding-left: 12px;
    display: flex;
    align-items: center;
    background: #014BBB;
    border-radius: 5px;
    font-family: "Lexend", sans-serif;
    transition: background-color 0.2s;

}

.nav-lbl:hover {
    background: #c7ff5e;
    color: black;
    padding-left: 30px;
}

.nav-lbl i.fa-solid {
    margin-right: 8px;
    font-size: 1rem;
}