.month-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(39, 39, 39, 0.204);
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}