.assign-task-container::-webkit-scrollbar {
    width: 7px;
}

.assign-task-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.assign-task-container {
    height: 98vh;
    overflow-y: auto;
    border-radius: 12px;
}

.row1-assign-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 9px;
    align-items: center;
}

.row1-assign-header h1 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 20px;
}

.button-set {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    gap: 10px;
}

.row1-assign-header button {
    background: rgba(0, 0, 0, 0.804);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    /* margin-right: 15px; */
}

#add-btn {
    background: #014BBB;
}

#add-btn:hover {
    background-color: #1fc922;
}

.row1-assign-header button:hover {
    background-color: #ea1313;
}

.row2-divider {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 5px;
    background-color: rgb(224, 224, 224);
}

.row2-divider h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 22px;
    cursor: pointer;
    color: transparent;
}

.row3-assign-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 15px;
}

/* ---------------------------------------------------------------- */

.form-container {
    display: flex;
    flex-direction: column;
    background: rgb(239, 239, 239);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 65px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.form-container h1 {
    background: #014BBB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    margin: 0;
    font-size: 1rem;
    color: white;
    font-family: "Lexend", sans-serif;
}

.input-couples {
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-bottom: 0;
    gap: 10px;
}

.input-couples label {
    font-family: "Lexend", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

#title-text {
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid black;
    font-family: "Lexend", sans-serif;
    font-size: 0.9rem;
    color: #014BBB;
    font-weight: bold;
    padding-left: 8px;
    cursor: pointer;
}

#title-text::placeholder {
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
}

#description {
    width: 55%;
    height: 80px;
    max-width: 800px;
    max-height: 200px;
    padding: 8px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid black;
    font-family: "Lexend", sans-serif;
    font-size: 0.9rem;
    color: #014BBB;
    font-weight: bold;
    cursor: pointer;
}

#description::placeholder {
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
}

#recipient {
    width: 25%;
    height: 40px;
    padding-left: 5px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid black;
    font-family: "Lexend", sans-serif;
    color: #014BBB;
    font-weight: bold;
    cursor: pointer;
}

#due-date {
    width: 20%;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid black;
    font-family: "Lexend", sans-serif;
    color: #014BBB;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}


/* ---------------------------------------------------------------- */

.attachment-container {
    display: flex;
    flex-direction: column;
    background: rgb(135, 135, 135);
    border-radius: 10px;
    margin-top: -30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

}

.attachment-container h1 {
    background: #4b4b4b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    margin: 0;
    font-size: 1rem;
    color: white;
    font-family: "Lexend", sans-serif;
}

.attachment-container .input-couples {
    color: white;
}

#comment {
    width: 55%;
    height: 80px;
    max-width: 800px;
    max-height: 200px;
    padding: 8px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid black;
    font-family: "Lexend", sans-serif;
    font-size: 0.9rem;
    color: #014BBB;
    font-weight: bold;
    cursor: pointer;
}

#comment::placeholder {
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
}

#reflinks {
    width: 55%;
    height: 80px;
    max-width: 800px;
    max-height: 200px;
    padding: 8px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid black;
    font-family: "Lexend", sans-serif;
    font-size: 0.9rem;
    color: #014BBB;
    font-weight: bold;
    cursor: pointer;
}

#reflinks::placeholder {
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    background: rgba(42, 42, 42, 0.266);
    border-radius: 10px;
    margin: 20px;
}

#lbl-img {
    color: white;
    font-family: "Lexend", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 13px 20px;
    padding-bottom: 0;
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

.file-input {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    background: rgba(42, 42, 42, 0.266);
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.file-input:hover {
    background-color: #e0e0e01f;
}

.file-input.has-file::before {
    content: attr(data-file-name);
}

.file-input.has-file::after {
    content: ' + ' attr(data-file-count) ' more';
}


/* ---------------------------------------------------------------- */

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.file-upload {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.fa-folder {
    color: rgb(255, 196, 0);
    padding-left: 10px;
    font-size: 1.1rem;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.image-preview {
    display: flex;
    flex-direction: row;
    padding: 0 22px;
    padding-bottom: 22px;
    flex-wrap: wrap;
    row-gap: 15px;
}

.thumbnail {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    position: relative;
}

.thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.thumbnail p {
    font-size: 12px;
    color: white;
    margin: 0;
    word-wrap: break-word;
}

.fa-circle-xmark {
    position: absolute;
    text-align: right;
    top: 4px;
    right: 4px;
    color: rgb(255, 0, 0);
    font-size: 1rem;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    cursor: pointer;
    transition: color 0.2s;
}

.fa-circle-xmark:hover {
    color: black;
    transition: color 0.2s;
}

/* ---------------------------------------------------------------- */