.event-modal-container {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form-cont {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
}

.hedr {
    background-color: #f5f7fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-x{
    cursor: pointer;
}