.row3-schedule-container{
    display: flex;
    background: pink;
    padding: 20px;
    /* height: 90vh; */
}

.left-side-sch-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgreen;
    width: 75%;
    /* height: 100%; */
}

.right-side-sch-cont{
    background: rgb(158, 128, 240);
    width: 27%;
}