.row3-schedule-container{
    display: flex;
    padding: 10px 20px;
    height: 73vh;
    gap: 10px;
}

.left-side-sch-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.right-side-sch-cont{
    background: rgb(158, 128, 240);
    width: 27%;
}